[mcu FYSETC]
# https://github.com/FYSETC/FYSETC-PortableInputShaper

# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify replace with your own
serial: /dev/serial/by-id/usb-Klipper_rp2040_E66160F4233BB537-if00
[adxl345]
cs_pin: FYSETC:gpio13
#spi_bus: spi1a
spi_software_sclk_pin: FYSETC:gpio10
spi_software_mosi_pin: FYSETC:gpio11
spi_software_miso_pin: FYSETC:gpio12
axes_map: x,y,z

